<!--
 * @Author: chenff0405 1781692585@qq.com
 * @Date: 2025-03-07 11:50:55
 * @LastEditors: chenff0405 1781692585@qq.com
 * @LastEditTime: 2025-03-07 12:07:12
 * @FilePath: \qianduankuangjia\VueText_1\vuetext_6.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app"></div>
    <template id="root">
        <input type="text" v-model="weight">
        <input type="text" v-model="height">
        <p>BMI:{{changeContent}}</p>
    </template>
    <script>
        const app = Vue.createApp({
            template:'#root',
            data(){
                return{
                    weight:0,
                    height:0
                }
            },
            computed:{
                changeContent(){
                    if(this.height>0){
                        return this.weight/(this.height * this.height);
                    }
                }
            }
        }).mount('#app')
    </script>
</body>
</html>