<!--
 * @Author: chenff0405 1781692585@qq.com
 * @Date: 2025-03-05 22:19:42
 * @LastEditors: chenff0405 1781692585@qq.com
 * @LastEditTime: 2025-03-06 09:28:25
 * @FilePath: \qianduankuangjia\VueText_1\vuetext_3.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
    <style>
        table {
            border: black 1px solid;
        }

        tr,
        th,
        td {
            border: black 1px solid;
        }
    </style>
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名字</th>
                    <th>数学</th>
                    <th>语文</th>
                    <th>英语</th>
                    <th>总分数</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in students">
                    <td>{{ index+1 }}</td>
                    <!-- <td v-for="(value,key) in item">
                            <span v-if="key=='math'|key=='chinese'|key=='english'">
                                <span v-if="value < 60" style="color:red">{{value}}</span>
                                <span v-else style="color:green">{{value}}</span>
                            </span>
                            <span v-else>{{value}}</span>
                        </td> -->
                    <td>{{ item.name }}</td>
                    <td>
                        <span v-if="item.math < 60" style="color:red">{{item.math}}</span>
                        <span v-else style="color:green">{{item.math}}</span>
                    </td>
                    <td>
                        <span v-if="item.chinese < 60" style="color:red">{{item.chinese}}</span>
                        <span v-else style="color:green">{{item.chinese}}</span>
                    </td>
                    <td>
                        <span v-if="item.english < 60" style="color:red">{{item.english}}</span>
                        <span v-else style="color:green">{{item.english}}</span>
                    </td>
                    <td>{{ item.math + item.chinese + item.english }}</td>
                </tr>
            </tbody>
        </table>
        <button @click="changeStudents">按照总分进行排序</button>
    </div>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                students: [
                    { name: 'Bob', math: 97, chinese: 89, english: 67 },
                    { name: 'Tom', math: 67, chinese: 52, english: 98 },
                    { name: 'Jerry', math: 72, chinese: 87, english: 89 },
                    { name: 'Ben', math: 92, chinese: 87, english: 59 },
                    { name: 'Chan', math: 47, chinese: 85, english: 92 }
                ]
            }
        },
        methods: {
            changeStusents() {

            }
        }
        // ,
        // created: {
        //     this.students.forEach(item==>{
        //       }
        //)
        // }
    })
    app.mount('#app')
</script>

</html>